<!doctype html>
<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- 공통 헤더 -->
    <th:block th:include="@{/fragments/header.html}"></th:block>

</head>

<body class="layout-light top-menu overlayScroll">
<div class="mobile-search"></div>

<div class="mobile-author-actions"></div>

<!-- 공통 topbar -->
<th:block th:include="@{/fragments/topbar.html}"></th:block>

<main class="main-content" style="background-color: #fafef5;">

    <div class="contents" style="background-color: #fafef5;">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-extra mt-20 mr-20">

                            <div class="breadcrumb-main" style="float: left;">
                                <h4 class="text-capitalize breadcrumb-title">관리 자원</h4>
                            </div>

                        </div>
                        <div class="card-body">
                            <form action="" name="searchForm" class="d-flex align-items-center add-contact__form my-sm-0 my-2">
                                작목 선택
                                <select class="form-control form-control-lg mt-10 mb-10 mr-10" style="width: 250px;">
                                    <option>작물 선택</option>
                                    <option>아이디</option>
                                    <option>이름</option>
                                </select>
                            </form>
                            <div>
                                <div class="form-group mb-0">
                                    <span>관리자원 명</span>
                                    <input type="text" class="form-control form-control-lg">
                                </div>
                                <button class="btn btn-icon btn-light" data-toggle="modal" data-target="#check">
                                    중복확인
                                </button>
                            </div>
                            <div>
                                입력 항목 파일
                                <div class="atbd-upload">
                                    <div class="atbd-upload__button">
                                        <a href="javascript:void(0)" class="btn btn-lg btn-outline-lighten btn-upload"
                                           onclick="$('#upload-1').click()">
                                            <span data-feather="upload"></span> 템플릿 엑셀 첨부</a>
                                        <input type="file" name="upload-1" class="upload-one" id="upload-1" onchange="excelExport(event)"/>
                                    </div>
                                </div>
                            </div>
                            <div id="displayExcelHtml"></div>
                            <div>
                                특성항목 파일
                                <div class="atbd-upload">
                                    <div class="atbd-upload__button">
                                        <a href="javascript:void(0)" class="btn btn-lg btn-outline-lighten btn-upload"
                                           onclick="$('#upload-1').click()">
                                            <span data-feather="upload"></span> 템플릿 엑셀 첨부</a>
                                        <input type="file" name="upload-1" class="upload-one" id="upload-2">
                                    </div>
                                    <div class="checkbox-theme-default custom-checkbox ">
                                        <input class="checkbox" type="checkbox" id="check-1">
                                        <label for="check-1">
                                            <span class="checkbox-text">종자원 특성 조사 기준 사용</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-extra mt-20 mr-20">
                                    <div class="breadcrumb-main" style="float: left;">
                                        <h6 class="text-capitalize breadcrumb-title">추가 연동</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <div class="checkbox-theme-default custom-checkbox ">
                                            <input class="checkbox" type="checkbox" id="check-picture">
                                            <label for="check-picture">
                                                <span class="checkbox-text">사진 등록</span>
                                            </label>
                                        </div>
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control form-control-lg">
                                            <button class="btn btn-icon btn-light">
                                                적용
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="checkbox-theme-default custom-checkbox ">
                                            <input class="checkbox" type="checkbox" id="check-docs">
                                            <label for="check-docs">
                                                <span class="checkbox-text">문서 등록</span>
                                            </label>
                                        </div>
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control form-control-lg">
                                            <button class="btn btn-icon btn-light">
                                                적용
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <button class="btn btn-icon btn-light" onclick="location.href='/basic_data/target'">
                        취소
                    </button>
                    <button class="btn btn-icon btn-light">
                        저장
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- modal code -->
    <div class="modal-basic modal fade show" id="check" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-body">
                    <h5>이미 사용중인 유전자원 관리명입니다.</h5>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->

</main>

<!-- 공통 하단 -->
<th:block th:include="@{/fragments/footer.html}"></th:block>
<!-- 공통 js -->
<th:block th:include="@{/fragments/commonjs.html}"></th:block>

<script type="text/javascript">
    function excelExport(event) {
        excelExportCommon(event, handleExcelDataAll);
    }

    function excelExportCommon(event, callback) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function () {
            var fileData = reader.result;
            var wb = XLSX.read(fileData, {type: 'binary'});
            var sheetNameList = wb.SheetNames; // 시트 이름 목록 가져오기
            var firstSheetName = sheetNameList[0]; // 첫번째 시트명
            var firstSheet = wb.Sheets[firstSheetName]; // 첫번째 시트
            callback(firstSheet);
        };
        reader.readAsBinaryString(input.files[0]);
    }

    function handleExcelDataAll(sheet) {
        handleExcelDataHeader(sheet); // header 정보
        handleExcelDataJson(sheet); // json 형태
        handleExcelDataCsv(sheet); // csv 형태
        handleExcelDataHtml(sheet); // html 형태
    }

    function handleExcelDataHeader(sheet) {
        var headers = get_header_row(sheet);
        $("#displayHeaders").html(JSON.stringify(headers));
    }

    function handleExcelDataJson(sheet) {
        $("#displayExcelJson").html(JSON.stringify(XLSX.utils.sheet_to_json(sheet)));
    }

    function handleExcelDataCsv(sheet) {
        $("#displayExcelCsv").html(XLSX.utils.sheet_to_csv(sheet));
    }

    function handleExcelDataHtml(sheet) {
        $("#displayExcelHtml").html(XLSX.utils.sheet_to_html(sheet));
    }

    function get_header_row(sheet) {
        var headers = [];
        var range = XLSX.utils.decode_range(sheet['!ref']);
        var C, R = range.s.r;

        for (C = range.s.c; C <= range.e.c; ++C) {
            var cell = sheet[XLSX.utils.encode_cell({c: C, r: R})]

            var hdr = "UNKNOWN " + C;
            if (cell && cell.t) hdr = XLSX.utils.format_cell(cell);

            headers.push(hdr);
        }
        return headers;
    }
</script>

</body>

</html>