<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- 공통 헤더 -->
    <th:block th:include="/../fragments/header.html"></th:block>

    <style>
        table {
            border-top: 1px solid grey;
            border-collapse: collapse;
        }

        th, td {
            border-bottom: 2px solid #E5E9F2;
            padding: 10px;
            text-align: center;
            font-weight: initial;
        }

        th, tbody tr {
            background-color: white;
        }
		.top-menu .main-content{
			background-color:#FCFCFC;
		}
		.top-menu .main-content .contents{
			background-color:#FCFCFC;
		}
		.atbd-box{
			display: inherit;
		    width: 100%;
		    justify-content: center;
		}
		.atbd-upload{
			flex: 0 0 50%;
		}
		.atbd-box a {
			width:100%;
		}
		.atbd-box button{
			background-color:#217566;
			border: 1px solid #217566;
			margin-left: 10px;
		}
		.top-menu .main-content .card{
			padding-bottom: 100px;
		}
		.top-menu .main-content .btn-primary{
			background-color:#EDF6F1;
			color:#217566;
		}
		.top-menu .main-content .btn-primary img{
			margin-right: 10px;
		}
		.top-menu .main-content .align-items-center{
			justify-content: center;
		}
		select{
			margin-left: 25px;
		}
		.top-menu .main-content .form-group{
			margin-left: 30px;
   		    padding-bottom: 0;
		}
		.main-content .form-group input[type=text]{
			margin-left: 25px;
		}
		@media (min-width: 576px){
			.top-menu .main-content .modal-dialog {
			    max-width: 850px;
			    margin: 1.75rem auto;
			}
		}
		
		/* 그리드 특정 column의 텍스트에 링크형태 */
		#marker_example_file  {
            color: mediumblue;
            text-decoration: underline;
            cursor: pointer;
        }
		
    </style>

</head>

<body class="layout-light top-menu overlayScroll">
<div class="mobile-search"></div>

<div class="mobile-author-actions"></div>

<!-- 공통 topbar -->
<th:block th:include="/../fragments/topbar.html"></th:block>

<main class="main-content">

    <div class="contents">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                	<div class="breadcrumb-main">
			        		
			        </div>
                </div>
            </div>
            <div class="row">
            	<div class="card">
            		<div class="card-body">
	        			<div class="bg-white">
	                        <div class="card" id="cardPlus" style="width:1100px" >	<!-- width를 지정해야 다 보인다. 오른쪽으로 쏠려있으니 그것도 방법을 찾아보자. 일단은 container-fluid가 중앙정렬된게 원인으로 보임 -->
	                        	<div class="card-extra mt-20 mr-20">
		                            <div class="action-btn d-flex justify-content-end">
		                                <div class="atbd-button-list d-flex flex-wrap">
		                                    <form action="" name="searchForm" class="d-flex align-items-center add-contact__form my-sm-0 my-2">
		                                        <!-- 
		                                        <select class="form-control form-control-lg mt-10 mb-10 mr-10" style="width: 250px;" id="CropSelect">
		                                            <option value="고추">고추</option>
		                                            <option value="대파">대파</option>
		                                            <option value="멜론">멜론</option>
		                                            <option value="무">무</option>
		                                            <option value="배추">배추</option>
		                                            <option value="수박">수박</option>
		                                            <option value="양배추">양배추</option>
		                                            <option value="양파">양파</option>
		                                            <option value="참외">참외</option>
		                                            <option value="토마토">토마토</option>
		                                        </select>
		                                         -->
		                                    </form>
		                                </div>
                            		</div>
		                        </div>
		                        <div class="card-body" style="padding-top: 0;">
		                            <div class="bg-white">
		                            	<div>
			                            	<h4 class="text-capitalize breadcrumb-title">Digital analysis</h4><br>
		                            	</div>
		                                <div id="analysis_grid"><!-- 여기에 그리드 출력 --></div>
		                                <div class="row">
		                                    <div class="col-4">
		                                        <button class="btn btn-icon btn-light btn-circle" data-toggle="modal" data-target="#marker_insert_modal">
		                                            <span data-feather="plus"></span>
		                                        </button>
		                                        <button type="button" class="btn btn-icon btn-light btn-circle" onclick="delete_row()">
		                                            <span data-feather="trash-2"></span>
		                                        </button>
		                                        <button type="button" class="btn btn-icon btn-light btn-circle" onclick="matrix()">
		                                            matrix
		                                        </button>
		                                    </div>
		                                    <div class="col-4">
		                                        <div class="row" style="justify-content: center;">
		                                            <div id="pageNum" style="text-align:center; margin: 2% 0 0 0;"></div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>		                        
	                        </div>
	                    </div>
            		</div>
            	</div>
            </div>
        </div>
    </div>

    <!-- modal code -->
    <!-- 마커 등록버튼 클릭시 나타나는 modal -->
    <div class="modal-basic modal fade show" id="marker_insert_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
            	<form action="insertAnalysisFile" id="insertFile" method="POST" enctype="multipart/form-data">
	                <div class="modal-body">
		                <table class="table">
		               		<tbody>
			               		<tr>
		                			<td><label class="reg" for="crop_name">작물</label></td>
		                			<td><input type="text" name="crop_name"></td>
		                		</tr>
		               			<tr>
		                			<td><label class="reg" for="analysis_category">분류</label></td>
		                			<td><input type="text" name="analysis_category"></td>
		                		</tr>
		                		<tr>
		                			<td><label class="reg" for="detail">상세내용</label></td>
		                			<td><input type="text" name="detail"></td>
		                		</tr>
		                		<tr>
		                			<td><label class="reg" for="note">비고</label></td>
		                			<td><input type="text" name="note"></td>
		                		</tr>
		                	</tbody>
		                </table>	
	                	<div>
                            <div class="atbd-upload">
                            	<div class="atbd-upload__button">
                                	<a id="marker_example_file" href="/sample.xlsx" download>예제파일다운</a></td>
                                </div>
                                <div class="atbd-upload__button">
                                    <input type="file" id="upload_file" name="file">
                                </div>
                            </div>
                        </div>
	                </div>
	                <div class="modal-footer" style="border: none">
	                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
	                    <button type="button" class="btn btn-primary btn-sm" onclick="insert_analysis_db()" style="background-color:#217566; color:#fff">등록</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
    
   
    
  
</main>

<!-- 공통 하단 -->
<th:block th:include="/../fragments/footer.html"></th:block>
<!-- 공통 js -->
<th:block th:include="/../fragments/commonjs.html"></th:block>

<script type="text/javascript">
	// 페이지 시작
	$(document).ready(function(){
			SearchDB();

		});
	
	// 페이지 당 데이터 개수 변경
	$("#limit").change(function () {
        	analysis_grid.destroy();

        	SearchDB();
        });
	
	$("#CropSelect").change(function() {
			analysis_grid.destroy();
			
			SearchDB();
	})
	
	// grid
    let analysis_grid = null;
    let update_marker_data = [];
	
	function SearchDB() {
		
		var limit = $("#limit").val();
		
		
		$.ajax({
			url : 'search_analysis_db',
			method : 'POST',
			//dataType: 'json',
			//data : data,
			success : function(result) {
				
				let dataArr = [];
				let rowArr = {};
				
				console.log("result marker", result);
				
				for(let i=0 ; i<result.analysis_db.length ; i++) {
					
					rowArr = {
									'analysis_id': result.analysis_db[i].analysis_id,
									'crop_name': result.analysis_db[i].crop_name,
									'analysis_category': result.analysis_db[i].analysis_category,
									'regist_date': result.analysis_db[i].regist_date,
									'detail': result.analysis_db[i].detail,
									'note': result.analysis_db[i].note,
									'jobid': result.analysis_db[i].jobid
							};
							dataArr.push(rowArr);
					
				}
					
				console.log(dataArr);
							
				analysis_grid = new tui.Grid({
					el: document.getElementById('analysis_grid'),
					scrollX: true,
					scrollY: true,
					data: dataArr,
					//data: result.analysis_db,
					rowHeaders: ['checkbox'],
					columns: [
						{
                            header: '번호',
                            name: 'analysis_id',
                            //hidden: true,
                            sortable: true,
                            width: 100,
                            align: 'center',
                        },
						{
                            header: '작물',
                            name: 'crop_name',
                            sortable: true,
                            width: 100,
                            align: 'center',
                            filter: {type: 'select', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '분류',
                            name: 'analysis_category',
                            sortable: true,
                            width: 150,
                            align: 'center',
                            filter: {type: 'text', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '상세내용',
                            name: 'detail',
                            sortable: true,
                            width: 150,
                            align: 'center',
                            filter: {type: 'text', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '비고',
                            name: 'note',
                            width: 230,
                            align: 'center',
                        },
                        {
                            header: '등록일',
                            name: 'regist_date',
                            sortable: true,
                            width: 250,
                            align: 'center',
                            filter: {type: 'text', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: 'jobid',
                            name: 'jobid',
                            sortable: true,
                            width: 250,
                            hidden: true,
                            align: 'center',
                            filter: {type: 'text', showApplyBtn: true, showClearBtn: true}
                        },
                        
					],
					pageOptions: {
                        useClient: true,
                        perPage: 10
                    },
				});
				
				analysis_grid.on('click', (ev) => {
					
					console.log("ev : ", ev);
					
					if (ev.targetType === 'cell' && ev.columnName === 'analysis_id') {
	                    let jobid = analysis_grid.getRow(ev.rowKey).jobid;

						//console.log("jobid : ", jobid);
						location.href = "/matrix?jobid=" + jobid;
	                }
				});
				
				
				

			}
		});
		
	}
	
	function insert_analysis_db() {
		
		let fileCheck = $("#upload_file").val();

		if(!fileCheck) {
			alert("파일을 첨부해 주세요.");
			return false;
		}
		
		let url = $("#insertFile").attr("action");
		let form = $('#insertFile')[0]; 
		let formData = new FormData(form);
		let queryString = $("#insertFile").serialize();
		console.log(queryString);
		
		
		//$("#insertFile").submit();
		
		$.ajax({
			url : 'insertAnalysisFile',
			method : 'POST',
			data : formData,
	        contentType : false,   
	        processData : false, 
	        cache: false,
			success : function(result) {
				location.href= "/matrix?jobid=" + result;	
			}
		});
	}
	

	
	
	var tablechk = 0; 	// samplegrid, outcomegrid구별용인듯. 일단 안바뀌니까 0으로 설정
	var insertCheck = 0;	// insert가 이미 활성화되었는지 체크용. 없으면 누를때마다 추가행이 계속 뜨겠지
	
	function delete_row() {
		let total_analysis_id = [];


        for (let i = 0; i < analysis_grid.getCheckedRows().length; i++) {
        	total_analysis_id.push(analysis_grid.getCheckedRows()[i].analysis_id)
        }
        
        // total_marker_id 배열은 위에서 아래로 쌓인다. getCheckedRows()도 체크된 행이 어디인지 구분하지 않고 위에서부터 순서대로 쌓는다
        console.log("analysis_grid.getCheckedRows()",analysis_grid.getCheckedRows());
        console.log(total_analysis_id);
        
        if(analysis_grid.getCheckedRows().length == 0) {
        	Alert1("하나 이상의 체크박스를 체크해주세요.");
        } else {
	        if( confirm("삭제하시겠습니까?") == true) {
		        $.ajax(
		       		{
		       			url: 'delete_analysis_db',
		       			method: 'POST',
		       			dataType: 'json',
		       			data: {'total_analysis_id' : total_analysis_id},
		       			success: function(result)	{
		       				location.reload();
		       			},
		       		});
	        } else {
	        	return;
	        }
        }
        
	}
	

    
    	
   	function matrix() {
   		
   		location.href = "/matrix";
          
       }
		
    

    
		
</script>

</body>

</html>