<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- 공통 헤더 -->
    <th:block th:include="/../fragments/header.html"></th:block>

    <style>
    	
    	.card {
            box-shadow: 0 3px 20px 3px rgb(0 0 0 / 7%);
        }
    
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 2px solid white !important;
            padding: 10px;
            text-align: center;
            font-weight: initial;
        }

        th, tbody tr {
            background-color: white;
        }
        
        #data_regist {
        	font-size: 15px;
        }
        
        .main-content .contents .container-fluid {
            max-width: 100%;
            padding: 50px;
        }
        
		.top-menu .main-content{
			background-color:#FCFCFC;
		}
		.top-menu .main-content .contents{
			background-color:#FCFCFC;
		}
		.atbd-box{
			display: inherit;
		    width: 100%;
		    justify-content: center;
		}
		.atbd-upload{
			flex: 0 0 50%;
		}
		.atbd-box a {
			width:100%;
		}
		.atbd-box button{
			background-color:#217566;
			border: 1px solid #217566;
			margin-left: 10px;
		}
		.top-menu .main-content .card{
			padding-bottom: 100px;
		}
		.top-menu .main-content .btn-primary{
			background-color:#EDF6F1;
			color:#217566;
			border-color: #217566;
		}
		.top-menu .main-content .btn-primary img{
			margin-right: 10px;
		}
		.top-menu .main-content .align-items-center{
			justify-content: center;
		}
		select{
			margin-left: 25px;
		}
		.top-menu .main-content .form-group{
			margin-left: 30px;
   		    padding-bottom: 0;
		}
		.main-content .form-group input[type=text]{
			margin-left: 25px;
		}
		@media (min-width: 576px){
			.top-menu .main-content .modal-dialog {
			    max-width: 850px;
			    margin: 1.75rem auto;
			    width: 500px; /* 모달창 크기 줄이기. 다른 모니터에서 깨진다면 수정*/
			}
		}
		
		/* 그리드 특정 column의 텍스트에 링크형태 */
		#marker_example_file  {
            color: mediumblue;
            text-decoration: underline;
            cursor: pointer;
        }
        
        .tui-grid-cell {
            background-color: white;
        }
        
        .input-file-button{
        	float:left;
            border: 1px solid #217566;
            border-radius: 5px;
            height:45px;
            font-size: 13px;
            color:#fff;
            width: calc((20% - 20px)/2);
            margin-left: 10px;
            background-color: #217566;
            cursor: pointer;
        }
		
    </style>

</head>

<body class="layout-light top-menu overlayScroll">
<div class="mobile-search"></div>

<div class="mobile-author-actions"></div>

<!-- 공통 topbar -->
<th:block th:include="/../fragments/topbar.html"></th:block>

<main class="main-content">
    <div class="contents">
        <div class="container-fluid">
            <div class="row">
	            <div class="col-lg-12 mb-30">
	            	<div class="card">
	            		<div class="card-body">
		        			<div class="bg-white">
		                        <div class="breadcrumb-main">
	                            	<h4 class="text-capitalize breadcrumb-title">통합정보 보관함</h4><br>
	                           	</div>
	                           	<select class="form-control form-control-lg mt-10 mb-10 mr-10" style="width: 250px; height:40px; float: right;" id="limit">
                                    <option value="10">10개</option>
                                    <option value="20">20개</option>
                                    <option value="30">30개</option>
                                </select>
	                            <div id="marker_grid"><!-- 여기에 그리드 출력 --></div>
	                            <div class="row">
	                                <div class="col-12">
	                                    <!--  
	                                    <button class="btn btn-icon btn-light btn-circle" data-toggle="modal" data-target="#marker_insert_modal">
	                                        <span data-feather="plus"></span>
	                                    </button>
	                                    -->
	                                    <button type="button" class="btn btn-icon btn-light btn-circle" title="데이터 삭제" onclick="delete_row()">
	                                        <span data-feather="trash-2"></span>
	                                    </button>
	                                    <button class="btn btn-lg btn-primary bottom_btn" data-toggle="modal" data-target="#marker_insert_modal" onclick="Today()" style="float:right; background-color: #217566; color: #EDF6F1; height: 34px">
		                                    데이터 등록
		                                </button>
	                                </div>
	                            </div>
		                    </div>
	            		</div>
	            	</div>
	            </div>
            </div>
        </div>
    </div>

    <!-- modal code -->
    <!-- 마커 등록버튼 클릭시 나타나는 modal -->
    <div class="modal-basic modal fade show" id="marker_insert_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
            	<div class="modal-header" style="border: none">
                    <h6 class="modal-title">통합정보 보관함 > 데이터 등록</h6>
                    <span class="breed_title"></span>
                </div>
            	<form action="insertMarkerFile" id="insertFile" method="POST" enctype="multipart/form-data">
	                <div class="modal-body">
		                <table class="table" id="data_regist">
		               		<tbody>
			               		<tr>
		                			<td><label class="reg" for="crop_name">작물</label></td>
		                			<td>
		                				<!-- <input type="text" name="crop_name"> -->
		                				<select style="width: 210px; height:30px; padding:4px; margin-right:26px;" name="crop_name" id="crop_name">
	                                        <th:block th:each="list : ${cropList}">
	                                            <option th:value="${list.crop_name}" th:text="${list.crop_name}"></option>
	                                        </th:block>
	                           			</select>
		                			</td>
		                		</tr>
		               			<tr>
		                			<td><label class="reg" for="marker_category">분류</label></td>
		                			<td><input type="text" name="marker_category"></td>
		                		</tr>
		                		<tr>
		                			<td><label class="reg" for="regist_person">등록자</label></td>
		                			<td><input type="text" name="regist_person"></td>
		                		</tr>
		                		<tr>
		                			<td><label class="reg" for="regist_date">등록일</label></td>
		                			<td><input type="text" name="regist_date" id="regist_date" readonly></td>
		                		</tr>
		                		<tr>
		                			<td><label class="reg" for="detail_note">상세내용</label></td>
		                			<td><input type="text" name="detail_note"></td>
		                		</tr>
		                		<tr>
		                			<td style="vertical-align:middle;">첨부파일</td>
		                			<td><div class="atbd-upload__button">
		                				<!--  
		                				<label class="input-file-button" for="upload_file" id="file-label"
	                                   	style="margin-top: 10px; margin-left: 50px; width: 68%; background-color: #fff; border: 1px solid #D9D9D9; color:#B2B2B2; font-size:14px;text-align:left; padding: 0 15px; display: flex; align-items: center">
	                                		<i class="bi bi-upload" style="margin-right:5px; font-size:14px; vertical-align:middle"></i><span style="vertical-align:middle; margin-left:35px; font-weight:500;">Click to Upload</span>
	                            		</label>
	                            		-->
		                				<input type="file" id="upload_file" name="file" style="width: 220px; margin-left:10px;">
		                			</div></td>
		                		</tr>
		                	</tbody>
		                </table>	
		                <!--  
	                	<div>
                            <div class="atbd-upload">
                            	<div class="atbd-upload__button">
                                	<a id="marker_example_file" href="/common/r/example/maker_example.xlsx" download>예제파일다운</a></td>
                                </div>
                                <div class="atbd-upload__button">
                                    <input type="file" id="upload_file" name="file">
                                </div>
                            </div>
                        </div>
                        -->
	                </div>
	                <div class="modal-footer" style="border: none">
	                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
	                    <button type="button" class="btn btn-primary btn-sm" onclick="insert_marker_information()" style="background-color:#217566; color:#fff">등록</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
    
   
    
  
</main>

<!-- 공통 하단 -->
<th:block th:include="/../fragments/footer.html"></th:block>
<!-- 공통 js -->
<th:block th:include="/../fragments/commonjs.html"></th:block>

<script type="text/javascript">
	// 페이지 시작
	$(document).ready(function(){
			SearchDB();
			
			//Today();
	});
	
	// 페이지 당 데이터 개수 변경
	$("#limit").change(function () {
        	marker_grid.destroy();

        	SearchDB();
        });
	
	$("#CropSelect").change(function() {
			marker_grid.destroy();
			
			SearchDB();
	})
	
	function Today() {
		
		let currentTime = new Date();
		let year = currentTime.getFullYear();
		let month = currentTime.getMonth() + 1;
		let day = currentTime.getDate();
		
		console.log(month);
		
		$("#regist_date").val(year + '-' + (("00"+month.toString()).slice(-2)) + '-' + (("00"+day.toString()).slice(-2)));
		
	}
	
	// grid
    let marker_grid = null;
    let update_marker_data = [];
	
	function SearchDB() {
		
		var limit = $("#limit").val();
		
		$.ajax({
			url : 'search_marker_information',
			method : 'POST',
			//dataType: 'json',
			//data : data,
			success : function(result) {
				
				let dataArr = [];
				let rowArr = {};
				let client_width = document.body.clientWidth;
				
				console.log("result marker", result);
				
				for(let i=0 ; i<result.marker_information.length ; i++) {
					
					rowArr = {
									'number' : result.marker_information.length - i,
									'file': '<a href="upload/' + result.marker_information[i].marker_file + '" download="' + result.marker_information[i].marker_origin_file + '"><i class="bi bi-file-earmark-arrow-down-fill"></i></a>',
									'file_name' : result.marker_information[i].marker_file,			// 파일명 조회 용도
									'file_origin_name' : result.marker_information[i].marker_origin_file,
									'marker_num': result.marker_information[i].marker_num,
									'crop_name': result.marker_information[i].crop_name,
									'marker_category': result.marker_information[i].marker_category,
									'regist_person': result.marker_information[i].regist_person,
									'regist_date': result.marker_information[i].regist_date,
									'detail_note': result.marker_information[i].detail_note,
							};
							dataArr.push(rowArr);
					
				}
					
				console.log(dataArr);
				
				let limit = Number($("#limit").val());
				
				marker_grid = new tui.Grid({
					el: document.getElementById('marker_grid'),
					scrollX: false,
					scrollY: false,
					data: dataArr,
					rowHeaders: ['checkbox'],
					columns: [
						{
							header: '번호',
							name: 'number',
							width: client_width * 60 / 1920,
							align: 'center',
							
						},
						{
                            header: 'marker_num',
                            name: 'marker_num',
                            //sortable: true,
                            hidden: true,
                            width: client_width * 60 / 1920,
                            align: 'center',
                        },
						{
                            header: '다운로드',
                            name: 'file',
                            width: client_width * 80 / 1920,
                            align: 'center',
                        },
                        {
		                    header: '파일명',
		                    name: 'file_origin_name',
		                    width: client_width * 250 / 1920,
		                    align: 'center',
		                },
						{
                            header: '작물',
                            name: 'crop_name',
                            sortable: true,
                            width: client_width * 150 / 1920,
                            align: 'center',
                            filter: {type: 'select', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '분류',
                            name: 'marker_category',
                            sortable: true,
                            width: client_width * 200 / 1920,
                            align: 'center',
                            filter: {type: 'text', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '등록자',
                            name: 'regist_person',
                            sortable: true,
                            width: client_width * 250 / 1920,
                            align: 'center',
                            filter: {type: 'text', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '등록일',
                            name: 'regist_date',
                            sortable: true,
                            width: client_width * 250 / 1920,
                            align: 'center',
                            filter: {type: 'text', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '상세내용',
                            name: 'detail_note',
                            width: client_width * 470 / 1920,
                            align: 'center',
                        }
					],
					pageOptions: {
                        useClient: true,
                        perPage: limit
                    },
				});
				
				//반응형
				$(window).resize(function() {
					
					client_width = document.body.clientWidth;
					
					marker_grid.setColumns([
						
						{
							header: '번호',
							name: 'number',
							width: client_width * 60 / 1920,
							align: 'center',
							
						},
						{
                            header: 'marker_num',
                            name: 'marker_num',
                            //sortable: true,
                            hidden: true,
                            width: client_width * 60 / 1920,
                            align: 'center',
                        },
						{
                            header: '다운로드',
                            name: 'file',
                            width: client_width * 80 / 1920,
                            align: 'center',
                        },
                        {
		                    header: '파일명',
		                    name: 'file_origin_name',
		                    width: client_width * 250 / 1920,
		                    align: 'center',
		                },
						{
                            header: '작물',
                            name: 'crop_name',
                            sortable: true,
                            width: client_width * 150 / 1920,
                            align: 'center',
                            filter: {type: 'select', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '분류',
                            name: 'marker_category',
                            sortable: true,
                            width: client_width * 200 / 1920,
                            align: 'center',
                            filter: {type: 'text', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '등록자',
                            name: 'regist_person',
                            sortable: true,
                            width: client_width * 250 / 1920,
                            align: 'center',
                            filter: {type: 'text', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '등록일',
                            name: 'regist_date',
                            sortable: true,
                            width: client_width * 250 / 1920,
                            align: 'center',
                            filter: {type: 'text', showApplyBtn: true, showClearBtn: true}
                        },
                        {
                            header: '상세내용',
                            name: 'detail_note',
                            width: client_width * 470 / 1920,
                            align: 'center',
                        }
						
					]);
					
					
				});
				
				

			}
		});
	}
	
	function insert_marker_information() {
		
		let fileCheck = $("#upload_file").val();

		if(!fileCheck) {
			Alert1("파일을 첨부해 주세요.");
			return false;
		}
		
		$("#insertFile").submit();
	}
	
	var tablechk = 0; 	// samplegrid, outcomegrid구별용인듯. 일단 안바뀌니까 0으로 설정
	var insertCheck = 0;	// insert가 이미 활성화되었는지 체크용. 없으면 누를때마다 추가행이 계속 뜨겠지
	
	function delete_row() {
		let total_marker_num = [];


        for (let i = 0; i < marker_grid.getCheckedRows().length; i++) {
        	total_marker_num.push(marker_grid.getCheckedRows()[i].marker_num)
        }
        
        // total_marker_id 배열은 위에서 아래로 쌓인다. getCheckedRows()도 체크된 행이 어디인지 구분하지 않고 위에서부터 순서대로 쌓는다
        console.log("marker_grid.getCheckedRows()",marker_grid.getCheckedRows());
        console.log(total_marker_num);
        
        if(marker_grid.getCheckedRows().length == 0) {
        	Alert1("삭제할 항목을 선택해주세요.");
        } else {
	        if( confirm("삭제하시겠습니까?") == true) {
		        $.ajax(
		       		{
		       			url: 'delete_marker_information',
		       			method: 'POST',
		       			dataType: 'json',
		       			data: {'total_marker_num' : total_marker_num},
		       			success: function(result)	{
		       				location.reload();
		       			},
		       		});
	        } else {
	        	return false;
	        }
        }
        
	}
	
   	function read_csv() {
   		
   		let total_file_name = [];

    	let total_crop_name = [];

        for (let i = 0; i < marker_grid.getCheckedRows().length; i++) {
        	total_file_name.push(marker_grid.getCheckedRows()[i].file_name);
        	//console.log("marker_grid.getCheckedRows()[i].file_name",marker_grid.getCheckedRows()[i].file_name);
        	//console.log("total_file_name",total_file_name);
        	total_crop_name.push(marker_grid.getCheckedRows()[i].crop);
        }
        
        for(let i = 0 ; i<marker_grid.getCheckedRows().length; i++) {
        	if(marker_grid.getCheckedRows()[0].crop == marker_grid.getCheckedRows()[i].crop) {
        		continue;
        	} else {
        		alert("작물명이 서로 다릅니다.");
        		return false;
        	}
        }
           
           console.log("total_file_name", total_file_name);
           
           $.ajax(
                   {
                       url: 'MarkerMap',
                       method: 'POST',
                       dataType: 'json',
                       data: {'total_file_name' : total_file_name},
                       success: function (result) {
                          console.log("jobid : " , result)
   						  window.open('/chrMakerViewerMarker/drawmap.jsp?orga=' + marker_grid.getCheckedRows()[0].crop + '&jobid=' + result , 'drawmap_marker', 'top=100, left=400, width=1200, height=800, toolbar=no, menubar=no, location=no, status=no, scrollbars=yes, resizable=no');

                       }
                   });
          
       }
		
    

    
		
</script>

</body>

</html>